html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white
    scroll-behavior: smooth;
    scroll-padding-top: 48px;
}
:root {
    --accent-color: hsl(345, 100%, 70%); 
}
div#main {
    background-color: rgba(0,0,0,0.75);
}
body > img#bg {
    position: fixed;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: -10;
}
img#ehtfio-bot-status {
    width:100%;
    height:auto;
    max-width:300px;
}
header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; 
}
header > h2 {
    margin: 0;
} 
nav {
    display: flex;
}
nav > * {
    color:var(--accent-color);
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    display: block;
    padding: 1rem 0.5rem;
}
nav > *:hover {
    background-color: rgba(0,0,0,0.5);
}
main, footer  {
    max-width: 1280px;
    margin: auto;
    padding: 0 1rem;
}
main a {
    color:var(--accent-color) ;
}
footer {
    text-align: center;
}
